{:paths   ["src" "resources"]

 :aliases {:run  {:main-opts ["-m" "sigel.core"]}

           :test {:extra-paths ["test" "resources"]
                  :main-opts   ["-m" "cognitect.test-runner" "-d" "test"]
                  :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                           :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}
                                org.xmlunit/xmlunit-core  {:mvn/version "2.6.3"}}}}

 :deps    {net.sf.saxon/Saxon-HE {:mvn/version "9.9.1-6"}
           org.clojure/clojure   {:mvn/version "1.10.1"}
           org.clojure/data.xml  {:mvn/version "0.2.0-alpha2"}
           org.clojure/tools.cli {:mvn/version "0.4.2"}}}
