version: 2

jobs:
  build:
    docker:
      - image: circleci/clojure:tools-deps-1.9.0.391

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx1024m

    steps:
      - checkout
      - run: make test
